.app {
    box-sizing: border-box;
    height: 100%;
    padding: 15px;

    &:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background-image: url("../img/bg.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    @include mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        background-position-x: right;

        @include isGridSupported {
            grid-template-columns: 1fr;
        }
    }
}
