.contacts {
    &__social {
        display: flex;
        justify-content: space-around;
        
        @include isGridSupported {
            grid-template-columns: repeat(3, auto);
        }
    }

    &__official {
        margin: 15px 0;
        font-size: 0.9rem;
    }
}
