.profile {
    animation-name: appearing;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    visibility: hidden;
    animation-fill-mode: forwards;

    @include desktop {
        position: absolute;
        padding: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @include mobile {
        padding: 15px;
        position: relative;
    }

    &__heading {
        text-align: center;
        font-size: 2rem;
    }

    &__photo {
        position: relative;
        max-width: 50%;
        width: 100%;
        margin: 0 auto;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("../img/profile_photo.jpg");
        border-radius: 50%;

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: -5px;
            bottom: -5px;
            right: -5px;
            top: -5px;
            border-radius: 50%;
            background-color: rgba($color: $secondary, $alpha: 0.1);
            background-repeat: no-repeat;
            background-image: -webkit-linear-gradient(
                rgba($color: $secondary, $alpha: 0.25),
                rgba($color: $primary, $alpha: 0.3),
                rgba($color: $primary, $alpha: 0.55),
                rgba($color: $primary, $alpha: 0.3),
                rgba($color: $secondary, $alpha: 0.25)
            );
            animation: rotate 8s linear infinite;
        }
        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
            border-radius: 50%;
        }
    }

    &--border {
        border-color: rgba($color: $secondary, $alpha: 0.8);
        border-style: solid;
        border-width: 2px;
        border-radius: 30px;
    }

    &:before {
        content: "";
        position: absolute;
        left: -30px;
        right: -30px;
        top: -30px;
        bottom: -30px;
        border-radius: 60px;
        box-sizing: border-box;
        background-color: rgba($color: $glass-background, $alpha: 0.4);
        box-shadow: inset 0 0 200px rgba($color: $glass-background, $alpha: 0.1);
        filter: blur(10px);
        z-index: -1;
    }
}
